.direnv
valkey-data

ui/node_modules

# Output
ui/.output
ui/.vercel
ui/.netlify
ui/.wrangler
ui//.svelte-kit
ui//build

# OS
ui/.DS_Store
ui/Thumbs.db

# Env
ui/.env
ui/.env.*
ui/!.env.example
ui/!.env.test

# Vite
ui/vite.config.js.timestamp-*
ui/vite.config.ts.timestamp-*



.env

tmp
